// media query
$standard: 375px;

// color

$primary-color: #1a1a1a;
$secondary-color: #808080;
$accent-color: #e94734;
$best: #256cee;
$new: #e6e6e6;
$del: #666666;

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  accentColor: $accent-color;
  best: $best;
  new: $new;
  del: $del;
  standard: $standard;
}
