.layout {
  display: flex;
  justify-content: center;

  .component {
    width: 375px;
    height: 100vh;

    .copy {
      width: 229px;
      height: 60px;
      margin: 28px 18px;
      line-height: 30px;
      color: $primary-color;
      font-size: 18px;
      font-weight: 600;
      span {
        color: $secondary-color;
      }
    }
    .cardList {
      width: 375px;
      display: flex;
      justify-content: center;
    }
  }
}
